.qContainer{
    background-color: #2d2d2d;
    height: 300px;
    border: 1px solid #378ad3;
    margin-top: 20px;
    margin-bottom: 20px;
}
.secondContainer{
     display: flex;
     align-items: center;
}
.title{
    border:2px solid #378ad3;
    text-align: center;
    margin-bottom: 10px;
    color: wheat;}
.items{
    display: flex; 
}
.ansview{
    width: 90px !important;
    border-radius: 10px;
    width: 11rem;
    height: 2.125rem;
    font-weight: 600;
    border: none;
    background-color:#516cf0;
    color:#FFFFFF;
    margin-right: 15px;
    margin-left: 15px;
}
.ansview:hover{
    background-color:#FF8500;
    color:#000000;
}
.ansview:active{
    border:3px solid #516cf0 ;
}
.pin{
    border: 1px solid #378ad3;
    font-weight: bold;
    margin-right: 5px;
    font-size: 12px;
    color: wheat;
}
.time{
    text-align: center;
    font-weight: bold;
    color: wheat
}
.Canswer{
    height:21px !important;
    width:119px !important;
    text-align:center;
}
.time{
    display: none;
}
.forAnswer{
    padding-left: 224px;
    padding-top: 20px;
}
.mainOne{
    margin-right: 50px;
}
@media(min-width:580px){
  .qContainer_av{
           display: flex;
  }
  .mainOne{
      padding-top:50px ;
      padding-left: 10px;
      width: 1100px;
  }
   .Canswer{
       height: 28px !important;
       width: 150px !important;
       text-align:center;
       
   }
   .forAnswer{
       padding-left: 900px;
   }
   .time{
       display: block;
   }
}

