.insideHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d;
    margin:5px 0;
}
.insideHeader_text>h3{
    font-size: 20px;
    color:white;
}
.insideHeader_text{
    margin: auto;
}
.forSm{
    border-radius: 10px;
    width: 10rem;
    height: 3.125rem;
    font-weight: 600;
    border: none;
    margin: 1rem;
    background-color:#516cf0 ;
    color:#FFFFFF ;
}
.forSm:hover{
    background-color:#FF8500 ;
    color: black;
}
.forSm:active{
    border: 3px solid #516cf0 ;
}
@media(max-width:570px){
    .insideHeader_text{
        margin: auto;
    }
}